header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

header button {
  padding: 8px 14px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.profile {
  max-width: 500px;
  margin: 40px auto;
  padding: 20px;
  background: white;
  border-radius: 10px;
}

.profile input {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}

.searchBar {
  max-width: 500px;
  margin: 20px auto;
  padding: 15px;
  background: white;
  border-radius: 10px;
}

.searchBar input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
}


.shimmer-wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 10px;
}

.shimmer-line {
  height: 16px;
  width: 40%;
  border-radius: 6px;
  background: linear-gradient(90deg,
      #eeeeee 25%,
      #dddddd 37%,
      #eeeeee 63%);
  background-size: 400% 100%;
  animation: shimmer 1.3s infinite linear;
}

@keyframes shimmer {
  0% {
    background-position: 100% 0;
  }

  100% {
    background-position: -100% 0;
  }
}